body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  justify-content:center;
    align-items:center;
}

table{
    border-collapse: collapse;
}

th {
    border : 1px solid black;
    height: 30px;
}

td{
    height: 20px;
    width: 300px;
}

.newEntrie{
    background: #F70;
}

.foldUnfold{
    background: #F47;
}

.baseline{
    background: #BBB;
}

.ZOOM{
    background: #1A1;
}

.initHeight{
    background: #484;
}

